/* this sheet is link with menu page*/
/*menu styling*/
.breakfast{
    display: inline-flex;
    gap: 2px;
    flex-direction: row;
    flex-wrap: wrap;
    background-color:rgb(138, 138, 46);
    border-radius: 8px;
    margin-left: 70px;

}
.item~img{
    display: inline-flex;
    background-color: gold;
    padding: 20px;
    border-radius: 10px;
    width: 100px;
    margin: 10px;
    height: 30px;
    text-align: center;
    justify-content: center;

}
img{
    display: inline-flex;
    height:160px;
    width: 160px;
    margin: 10px;
    padding: 15px;
    justify-content:flex-start;
}

p{
    padding: 8px;
    padding-left: 7px;
    width: 120px;
    margin: 5px;
    margin-top: 2px;
    margin-left: 25px;
    text-align: center;
    border: solid 2px;
    background-color: rgb(240, 214, 147);
    border-radius: 10px;
    font-size: 15px;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
}
p:hover{
    background-color: rgb(94, 84, 31);
    color: white;
   font-size: 20px;
}
h1{
    display: flex;
    text-align: center;
    height: 30px;
    width: 325 px;
    margin: 12px;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(184, 146, 50);
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1:hover{
    background-color: rgb(121, 88, 7) ;
    color: rgb(206, 36, 36);
}
.lunch{
    display: inline-flex;
    gap: 2px;
    flex-direction: row;
    flex-wrap: wrap;
    background-color:rgb(138,138,46);
    border-radius: 10px;
    margin-left: 70px;
}
.dinner{
    display: inline-flex;
    gap: 2px;
    flex-direction: row;
    flex-wrap: wrap;
    background-color:rgb(138,138,46);
    border-radius: 10px;
    margin-left: 70px;
}
body{
    background-image: linear-gradient(to left, gold,rgb(177, 177, 86),goldenrod);
    position: relative;
}